<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niveales.wind"
    android:versionCode="3"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.librelio.lib.LibrelioApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="IssueListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.artifex.mupdf.OutlineActivity"
            android:label="@string/outline_title" >
        </activity>

        <service android:name="com.librelio.lib.utils.BillingService" >
        </service>
        <service android:name="com.librelio.lib.service.DownloadMagazineListService" >
        </service>

        <receiver android:name="com.librelio.lib.utils.BillingReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.librelio.lib.ui.StartupActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"><intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.artifex.mupdf.MuPDFActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
		<activity android:name="com.librelio.lib.ui.MainMagazineActivity" ></activity>
        <activity android:name="com.librelio.wind.test.TestPDFPageActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:theme="@style/Theme.NoBackground.NoTitle" android:name="com.librelio.lib.ui.SlideShowActivity"></activity>
        <activity android:name="com.librelio.lib.ui.DownloadActivity"></activity>
    </application>

</manifest>
