<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yearly_subs_code</key>
	<string>yearlysubscription2</string>
	<key>monthly_subs_code</key>
	<string>monthlysubscription</string>
</dict>
</plist>
