<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FileName</key>
		<string>snowsurf_tests2014/snowsurf_tests2014.sqlite?wabbar=yes</string>
		<key>Subtitle</key>
		<string></string>
		<key>Title</key>
		<string>Tests 2014</string>
	</dict>
</array>
</plist>
