<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niveales.testskis"
    android:versionCode="104"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.librelio.library.ui.NivealesApplication"
        android:icon="@drawable/tests_skis_ic_launcher"
        android:label="@string/tests_skis_app_name"
        android:theme="@style/LibraryTheme" >
        <activity
            android:name="com.librelio.library.ui.LibraryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:icon="@drawable/tests_skis_ic_launcher"
            android:label="@string/tests_skis_app_name"
            android:theme="@style/LibraryTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.librelio.library.ui.SplashScreenActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>