<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>99999999999</string>
	<key>CodeService</key>
	<string>LibrelioS3</string>
	<key>YearlySubsCode</key>
	<string>yearlysubscription</string>
	<key>MonthlySubsCode</key>
	<string>monthlysubscriptiontest</string>
	<key>GcmProjectNumber</key>
	<string>1012641315687</string>
</dict>
</plist>
