<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_42/verticalGB_42_.pdf</string>
		<key>Subtitle</key>
		<string>July August 2013</string>
		<key>Title</key>
		<string>Vertical 42</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_41/verticalGB_41_.pdf</string>
		<key>Subtitle</key>
		<string>May June 2013</string>
		<key>Title</key>
		<string>Vertical 41</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_40/verticalGB_40_.pdf</string>
		<key>Subtitle</key>
		<string>Mars Avril 2013</string>
		<key>Title</key>
		<string>Vertical 40</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_39/verticalGB_39_.pdf</string>
		<key>Subtitle</key>
		<string>January February 2013</string>
		<key>Title</key>
		<string>Vertical 39</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_38/verticalGB_38_.pdf</string>
		<key>Subtitle</key>
		<string>November - December 2012</string>
		<key>Title</key>
		<string>Vertical 38</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_36/verticalGB_36_.pdf</string>
		<key>Subtitle</key>
		<string>July - August 2012</string>
		<key>Title</key>
		<string>Vertical 36</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_35/verticalGB_35_.pdf</string>
		<key>Subtitle</key>
		<string>May - June 2012</string>
		<key>Title</key>
		<string>Vertical 35</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_34/verticalGB_34_.pdf</string>
		<key>Subtitle</key>
		<string>March - April 2012</string>
		<key>Title</key>
		<string>Vertical 34</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_33/verticalGB_33_.pdf</string>
		<key>Subtitle</key>
		<string>January - February 2012</string>
		<key>Title</key>
		<string>Vertical 33</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_32/verticalGB_32_.pdf</string>
		<key>Subtitle</key>
		<string>November - December 2011</string>
		<key>Title</key>
		<string>Vertical 32</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_31/verticalGB_31_.pdf</string>
		<key>Subtitle</key>
		<string>September - October 2011</string>
		<key>Title</key>
		<string>Vertical 31</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_30/verticalGB_30_.pdf</string>
		<key>Subtitle</key>
		<string>July - August 2011</string>
		<key>Title</key>
		<string>Vertical 30</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_29/verticalGB_29_.pdf</string>
		<key>Subtitle</key>
		<string>May - June 2011</string>
		<key>Title</key>
		<string>Vertical 29</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_gb/verticalGB_28/verticalGB_28.pdf</string>
		<key>Subtitle</key>
		<string>March - April 2011</string>
		<key>Title</key>
		<string>Vertical 28</string>
	</dict>
</array>
</plist>
