<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_42/verticalFR_42_.pdf</string>
		<key>Subtitle</key>
		<string>Juillet Août 2013</string>
		<key>Title</key>
		<string>Vertical 42</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_41/verticalFR_41_.pdf</string>
		<key>Subtitle</key>
		<string>Mai Juin 2013</string>
		<key>Title</key>
		<string>Vertical 41</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_40/verticalFR_40_.pdf</string>
		<key>Subtitle</key>
		<string>Mars Avril 2013</string>
		<key>Title</key>
		<string>Vertical 40</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_39/verticalFR_39_.pdf</string>
		<key>Subtitle</key>
		<string>Janvier Février 2013</string>
		<key>Title</key>
		<string>Vertical 39</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_38/verticalFR_38_.pdf</string>
		<key>Subtitle</key>
		<string>Novembre Décembre 2012</string>
		<key>Title</key>
		<string>Vertical 38</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_37/verticalFR_37_.pdf</string>
		<key>Subtitle</key>
		<string>Septembre - Octobre 2012</string>
		<key>Title</key>
		<string>Vertical 37</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_36/verticalFR_36_.pdf</string>
		<key>Subtitle</key>
		<string>Juillet - Août 2012</string>
		<key>Title</key>
		<string>Vertical 36</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_35/verticalFR_35_.pdf</string>
		<key>Subtitle</key>
		<string>Mai - Juin 2012</string>
		<key>Title</key>
		<string>Vertical 35</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_34/verticalFR_34_.pdf</string>
		<key>Subtitle</key>
		<string>Mars - Avril 2012</string>
		<key>Title</key>
		<string>Vertical 34</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_33/verticalFR_33_.pdf</string>
		<key>Subtitle</key>
		<string>Janvier - Février 2012</string>
		<key>Title</key>
		<string>Vertical 33</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_32/verticalFR_32_.pdf</string>
		<key>Subtitle</key>
		<string>Novembre - Décembre 2011</string>
		<key>Title</key>
		<string>Vertical 32</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_31/verticalFR_31_.pdf</string>
		<key>Subtitle</key>
		<string>Septembre - Octobre 2011</string>
		<key>Title</key>
		<string>Vertical 31</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_30/verticalFR_30_.pdf</string>
		<key>Subtitle</key>
		<string>Juillet - Août 2011</string>
		<key>Title</key>
		<string>Vertical 30</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_29/verticalFR_29_.pdf</string>
		<key>Subtitle</key>
		<string>Mai - Juin 2011</string>
		<key>Title</key>
		<string>Vertical 29</string>
	</dict>
	<dict>
		<key>FileName</key>
		<string>vertical_fr/verticalFR_28/verticalFR_28.pdf</string>
		<key>Subtitle</key>
		<string>Mars - Avril 2011</string>
		<key>Title</key>
		<string>Vertical 28</string>
	</dict>
</array>
</plist>
